<p>These are your lists:</p>

<ul>
  <% @lists.each_with_index do |list, index| %>
  <li><%= link_to list.title, "/list/#{index}" %></li>
  <% end %>
  <li><a href="/new">Create a new list</a></li>
</ul>
